.container {
    display: flex;
    align-items: flex-start;
    padding:40px;
    max-width: 90%; /* Optional: Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 30px;
  }
  
  .cover {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .details {
    flex: 1;
    align-items: flex-start;
    padding-left: 30px;
  }
  
  .summary {
    min-width:400px ;
    // min-width: 400px;
  }
  
  .bookCover {
    width: 300px;
    height: 400px;
  }
  
  .buttonContainer {
    margin-top: 20px;
  }
  