.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Split the page into two columns */
    gap: 20px; /* Add space between the columns */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Full height of the viewport */
    padding:30px;
  }
  
  .quote {
    font-style: italic;
    font-size: 18px;
  }
  
  .formContainer {
    display: flex;
    justify-content: center;
  }
  
  .loginForm {
    width: 300px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }