.layoutStyle {
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.headerStyle {
    text-align: center;
    background-color:#635E5D;
    height:77px;
}

.footerStyle {
    text-align: center;
    color: #fff;
    background-color: #635E5D;
}

.contentStyle {
    text-align: center;
    height: 90%;
    line-height: 120px;
    color: #000;
    background-color: #fff;
    height:150vh;
}


.siderStyle {
 background-color:#635E5D;
 color: #ffff;
}

.headerSection {
    background-color: blue;
    height: 792px;
}

.logo {
    width: 200px;
    height: 100px;
}