
.imageStyle{
    height: 120px;
}

.cardContainer{
    width:770px;
    margin:0 auto;
    line-height:70px;

}

.textAlignLeft {
    text-align: center;
    margin-bottom:-15px;
}

.textAlignRight {
    text-align: right
}

.card{
    // border: none;
    padding:8px;
    width: 195px;
    background-color: #dadbe4;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);*/

}

.card Card :hover{
    cursor: pointer;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}