.imageStyle{
    height: 160px;
    width: 765px;
}

.cardContainer{
    width:770px;
    margin:0 auto;
    // line-height: 150px;
    margin-top: 100px;
}

.textAlignLeft{
    text-align: left;
    margin-bottom:-15px;
}

.textAlignRight{
    text-align: right
}