.cardSytle{
    height: 280px;
   
}

.cardContainer{
    width:870px;
    margin:0 auto;
    // margin-top: 100px;
}

.textAlignLeft{
    text-align: left;
    line-height: 80px;
}

.textAlignRight{
    text-align: right
}