.imageStyle{
    height: 160px;
    width: 765px; 
}
.cardContainer{
    width:970px;
    margin:0 auto;
    line-height:150px;
}

.categoryTitle {
    text-align: left;
    background-color:#c1c4ea;
    padding:10px;
    margin-top: 15px;
    margin-bottom:15px;
    color: #000;
    font-weight:bold;
    font-size:18px;
    border-radius: 12px;
}

.textAlignRight{
    text-align: right
}
    
